body {
  height: 100vh;
  background-image: url("./image/background.jpg");
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  margin: auto;
  padding: 10%;
}

h2 {
  font-family: "Bowlby One SC", cursive;
  font-size: 5rem;
}

.form-container {
  text-align: center;
  align-items: center;
}

#cheerio {
  font-family: "Pacifico", cursive;
  font-size: 6rem;
}

#time {
  font-size: 4rem;
}

#beerInput {
  padding: 20px;
  width: 40vw;
  border-radius: 20px;
}

#beerSubmit {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  border-radius: 5px;
  border: none;
  opacity: 0.8;
  color: #8f7006;
}

#beerSubmit:hover {
  color: #382c01;
  background-color: black 1px;
}

input[type="text"] {
  font-family: "Armata", sans-serif;
  font-size: 1rem;
}

@media only screen and (max-width: 500px){
  h2{
    font-size: 2.5rem;
  }
  #cheerio{
    font-size: 3rem;
  }
  #time{
    font-size: 2rem;
  }
}